h1 {
    color: cadetblue;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(53, 104, 143);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid: 150px / auto auto;
}

.grid-item {
    padding: 0px 20px;
}